@import './variables.scss';
@import './mixin.scss';

html,
body .app {
  color: #EEEEEE;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $bc;

}

.app-container {
  padding-bottom: 50px;
}
