@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1620816522001') format('truetype');
}

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-canyin:before {
  content: "\e644";
}

.icon-jingdian:before {
  content: "\e645";
}

.icon-zhusu:before {
  content: "\e646";
}

.icon-daohang:before {
  content: "\e651";
}

.icon-feiji:before {
  content: "\e655";
}

.icon-wuxianwangluo:before {
  content: "\e66c";
}

